#header{
    /* margin: 0 auto; */
    color: #055582;
    background: #e5e5e5;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 90px;

    /* position: absolute; */
    /* width: 1058px; */
    /* height: 292px; */
    left: 90px;
    top: 100px;
}

#header p{
    padding-top: 40px;
    padding-bottom: 40px;
}

#header a{
    padding-right: 30px;
    color: #055582;
}

#right h1{
    font-size: 32px;
}

#header a:hover{
    opacity: 0.5;
}

#mainContent{
    background: #e5e5e5;
}

#left{
    font-size: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 318px;
    height: 292px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 100px 0px;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 500px;
    height: 217px;
    left: 418px;
    top: 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 100px 0px;
}

.flexCon{
	display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: calc(100vw - 120px);
    padding-left: 60px;
}

.flexCon > p {
    margin: 0 auto;
    margin-top: 10px;
    width: 320px;
    height: 23px;
    padding: 15px;
    /* color: #ffffff; */
}

.flexItem{
    width: 320px;
    height: 320px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background: #ffffff; */
}

.flexItem > p {
    font-size: 13px;
    margin: 0 auto;
    margin-top: 0px;
    color: #055582;
}

.flexItem > img{
    width: 320px;
    height: 180px;
    object-fit: cover;
    height: auto;
}

.flexCon > h3 {
	margin: 0 auto;
    max-width: 55%;
    min-width: 15%;
    padding: 5px;
    background: #ffffff;
    color: #055582;
}

.flexCon > h3:hover{
    opacity: 0.5;
}

.flexCon > p:hover{
    opacity: 0.5;
}

.flexItem:hover{
    opacity: 0.5;
}

hr{
    width: calc(100vw - 120px);
    /* padding-left: 30px; */
    margin: 0 auto;
    border-top: 2px solid #055582;
}

#footer{
    text-align: center;
    color: #055582;
    padding: 15px;
    background: #e5e5e5;
}

#footer p{
    padding: 10px;
    font-size: 10px;
}

#main{
    background: #e5e5e5;
}

.modalWrap{
    display: none;
}

.modalOpen{
    position: fixed;
    top: 0;
    left: 0;
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalCon{
    width: 85%;
    margin: 0 auto;
    background: #ffffff;
    max-height: calc(100vh - 30px);
    overflow-y: scroll;
}

.modalCover{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.modalTtl{
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.7rem;
    color: #055582;
}

.modalCap{
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.0rem;
    color: #055582;
}

.modalSent{
    font-size: 0.8rem;
    padding-bottom: 10px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    color: #055582;
}

.modalCloseBtn{
    width: 80%;
    text-align: right;
    margin: 0 auto;
    font-size: 2.0rem;
    color: #055582;
    /* font-size: 20px; */
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

