#header{
    /* margin: 0 auto; */
    color: #055582;
    background: #e5e5e5;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 90px;

    /* position: absolute; */
    /* width: 1058px; */
    /* height: 292px; */
    top: 100px;
}

#header p{
    padding-top: 40px;
    padding-bottom: 40px;
}

#header a{
    padding-right: 30px;
    color: #055582;
    text-decoration: none;
}

#right h1{
    font-size: 28px;
}

#header a:hover{
    opacity: 0.5;
}

#mainContent{
    background: #e5e5e5;
    padding: 0px;
    margin: 0px;
}

#left{
    font-size: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-left: 10px solid #055582;

    position: static;
    width: 280px;
    height: 300px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 100px 0px;
    padding-right: 100px;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: calc(100% - 418px);
    /* height: 217px; */
    /* left: 418px; */
    top: 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 100px 0px;
}

.flex{
    width: calc(100%-180px);
    display: flex;
    flex-wrap: wrap;
}

.flexCon{
	display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: calc(100vw - 120px);
    padding-left: 60px;
}

.flexCon > p {
    margin: 0 auto;
    margin-top: 10px;
    width: 320px;
    height: 23px;
    padding: 15px;
    /* color: #ffffff; */
}

.flexItem{
    width: 320px;
    height: 320px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background: #ffffff; */
}

.flexItem > p {
    font-size: 13px;
    margin: 0 auto;
    margin-top: 0px;
    color: #055582;
}

.flexItem > img{
    width: 320px;
    height: 180px;
    object-fit: cover;
    height: auto;
}

.flexCon > h3 {
	margin: 0 auto;
    max-width: 55%;
    min-width: 15%;
    padding-top: 5px;
    background: #ffffff;
    color: #055582;
}

.flexCon > h3:hover{
    opacity: 0.5;
}

.flexCon > p:hover{
    opacity: 0.5;
}

.flexItem:hover{
    opacity: 0.5;
}

.name-ja{
    font-weight: 600;
}

hr{
    width: calc(100vw - 120px);
    /* padding-left: 30px; */
    margin: 0 auto;
    border-top: 2px solid #055582;
}

#footer{
    text-align: center;
    color: #055582;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #e5e5e5;
}

#footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}

#main{
    background: #e5e5e5;
    padding: 0px;
    margin: 0px;
}

.modalWrap{
    display: none;
}

.modalOpen{
    position: fixed;
    top: 0;
    left: 0;
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalCon{
    width: 85%;
    margin: 0 auto;
    background: #e5e5e5;
    max-height: calc(100vh - 30px);
    overflow-y: scroll;
}

.modalCover{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.modalTtl{
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #055582;
    /* border-left: 3px solid #055582; */
}

.modalCap{
    width: 80%;
    text-align: left;
    padding-top: 5px;
    margin: 0 auto;
    font-size: 1.0rem;
    color: #055582;
    /* border-left: 3px solid #055582; */
}

.modalSent{
    font-size: 0.7rem;
    padding-bottom: 15px;
    width: 80%;
    padding-top: 15px;
    text-align: left;
    margin: 0 auto;
    color: #055582;
}

.modalCloseBtn{
    width: 80%;
    text-align: right;
    margin: 0 auto;
    font-size: 2.0rem;
    color: #055582;
    /* font-size: 20px; */
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

/* レスポンシブ */
@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */

    #header{
        /* margin: 0 auto; */
        color: #055582;
        background: #e5e5e5;

        display: block;
        margin: 0px;
        top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    #left{
        display: block;
        width: 85vw;
        height: auto;
        margin-left: 5vw;
        margin-right: 0px;
        font-size: 50px;
        padding: 0px;
    }

    #right{
        display: block;
        position: static;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 0px;
        margin: 0px;
        padding-bottom: 50px;
    }

    #mainContent{
        background: #e5e5e5;
        margin: 0px;
        padding: 0px;
    }

    #main{
        padding: 0px;
        margin: 0px;
    }

    body{
        padding: 0px;
        margin: 0px;
    }

    
    hr{
        width: 90vw;
        /* padding-left: 30px; */
        margin-left: 5vw;
        padding: 0px;
        margin-right: 0px;
        border-top: 2px solid #055582;
    }

    * {
        margin: 0px;
        padding: 0px;
        background: #e5e5e5;
        /* overflow-x: hidden; */
    }
}
   
@media screen and (max-width: 480px) {

    
    .flexCon{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 0px;
        margin: 0px;
    }

    .flexItem{
        /* width: 320px; */
        width: 90vw;
        /* height: 320px; */
        height: auto;
        /* padding: 10px; */
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        /* background: #ffffff; */
    }

    .flexItem > p {
        width: 90vw;
        /* margin-left: 5vw; */
        font-size: 11px;
        margin: 0px;
        padding: 0px;
        color: #055582;
    }

    .flexItem > img{
        margin-left: 0px;
        /* width: 320px;
        height: 180px; */
        margin-right: 0px;
        width: 90vw;
        height: auto;
        object-fit: cover;
        padding: 0px;
    }

    * {
        margin: 0px;
        padding: 0px;
        /* overflow-x: hidden; */
    }
}

